[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/gTTS"]
	path = extern/gTTS
	url = https://github.com/pndurette/gTTS.git
[submodule "extern/pyttsx3"]
	path = extern/pyttsx3
	url = https://github.com/nateshmbhat/pyttsx3.git
[submodule "extern/playsound"]
	path = extern/playsound
	url = https://github.com/TaylorSMarks/playsound.git
